.card {
    margin-left: 10px;
    margin-top: 10px;
}

.colorbtn {
    left: 50%;
    transform: translateX(-50%);
}

.rating {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

